<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    <div th:each="location : ${locations}" style="margin-right: 20px;">
        <p th:text="${location.getName()}"></p>
        <p th:text="${location.getLat()}"></p>
        <p th:text="${location.getLon()}"></p>
        <p th:text="${location.getCountry()}"></p>

        <form th:method="post" th:action="@{/welcome}" th:object="${location}">
            <input type="hidden" name="name" th:value="${location.name}"/>
            <input type="hidden" name="lat" th:value="${location.lat}"/>
            <input type="hidden" name="lon" th:value="${location.lon}"/>
            <input type="hidden" name="country" th:value="${location.country}"/>
            <input type="hidden" name="state" th:value="${location.state}"/>

            <div class="mt-auto">
                <button type="submit" class="btn btn-primary w-100">Add</button>
            </div>
        </form>
    </div>

</div>




</body>
</html>