<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="header" style="position: relative; padding: 10px; display: flex; justify-content: space-between; align-items: center;">
    <div style="display: flex; gap: 20px;">
        <a th:text="${user.getUsername()}"/>
    </div>
    <form th:action="@{/auth/logout}" th:method="post" style="margin: 0;">
        <button type="submit">Logout</button>
    </form>
</div>
<div class="container">
    <h1>Welcome</h1>
    <form th:action="@{/weather}" method="get">
        <div class="form-group">
            <label for="city">Enter City:</label>
            <input type="text" id="city" name="city" class="form-control" placeholder="Enter city name" required>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
</body>
</html>
